.navbar {
    height: 64px;
}

.navbar-inner {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

/* TRUE CENTER LOGO */
.navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 1.1rem;
}

/* USER */
.dropdown > a {
    color: #000;
}
