<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- ================= FOOTER ================= -->
<footer th:fragment="navbar" class="cafe-footer">
  <div class="footer-container">

    <!-- Contact -->
    <div class="footer-column">
      <h5>Contact Us</h5>
      <p><i class="bi bi-geo-alt"></i> 34 New City, 1234, dolor sit</p>
      <p><i class="bi bi-telephone"></i> Call Now<br>0800-123-4567</p>
      <p><i class="bi bi-envelope"></i> Mail Now<br>mail@ubuntucafe.com</p>
    </div>

    <!-- Facebook -->
    <div class="footer-column">
      <h5><i class="bi bi-facebook"></i> Facebook</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <small>March 6, 2013</small>
    </div>

    <!-- Twitter -->
    <div class="footer-column">
      <h5><i class="bi bi-twitter"></i> Twitter</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <small>March 4, 2013</small>
    </div>

  </div>

  <div class="footer-bottom">
    © 2026 furious five's cafe. All Rights Reserved
  </div>
</footer>
</body>
</html>