<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- ================= NAVBAR ================= -->
<nav th:fragment="navbar" class="navbar cafe-navbar">
        <a class="navbar-brand d-flex align-items-center gap-2" href="#">
            <span>☕ Furious Five</span>
        </a>

    <div class="dropdown">
        <button class="btn menu-btn"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            <i class="bi bi-list"></i>
        </button>

        <!-- POCKET MENU -->
        <div class="dropdown-menu dropdown-menu-end p-3 shadow pocket-menu">

            <!-- NAV LINKS -->
            <a class="dropdown-item" href="#">Home</a>
            <a class="dropdown-item" href="#">Coffee</a>
            <a class="dropdown-item" href="#">Equipment</a>
            <a class="dropdown-item" href="#">Gifts</a>
            <a class="dropdown-item" href="#">Knowledge</a>
            <a class="dropdown-item" href="#">About Us</a>
        </div>
    </div>

</nav>
</body>
</html>